<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head th:replace="layout/plantillas :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div th:fragment="empleadoCarta(empleado)">
        <div class="card--empleado card" th:if="${empleado != null}">
            <div class="d-flex align-items-center pt-3 pb-3 pe-4 ps-4">
                <div class="card__avatar" th:text="${#strings.substring(empleado.nombreCompleto, 0, 2)}"></div>
                <div>
                    <h6 class="fw-bold mb-0" th:text="${empleado.nombreCompleto}"></h6>
                    <p class="card__email" th:text="${empleado.correoElectronico}"></p>
                </div>
            </div>
            <div class="pt-0 pb-3 pe-4 ps-4">
                <div class="card__info">
                    <span class="info-label">Puesto:</span>
                    <span th:text="${empleado.puestoE}"></span>
                </div>
                <div class="card__info">
                    <span class="info-label" th:text="${'Salario ' + empleado.tipoSalario + ':'}"></span>
                    <span th:text="${'₡' + #numbers.formatDecimal(empleado.salarioBase, 0, 'POINT', 2, 'COMMA')}">€0.000,00</span>
                </div>
                <div class="card__info">
                    <span class="info-label">Salario Neto:</span>
                    <span th:text="${empleado.salarioNeto != null ? ('€' + #numbers.formatDecimal(empleado.salarioNeto, 0, 'POINT', 2, 'COMMA')) : '---'}">---</span>
                </div>
                <a th:href="@{/resumen/{idDetallePlanilla}(idDetallePlanilla=${empleado.idDetallePlanilla})}" class="btn btn--detalles text-decoration-none">Ver detalles</a>
            </div>
        </div>
    </div>

</body>

</html>