<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniPlanilla | Kelvin Orozco Rodríguez</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.7.2/css/all.min.css}">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" th:href="@{/css/baseStyle.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
</head>

<body>

    <!-- Sidebar -->
    <aside th:fragment="sidebar" class="sidebar">
        <header class="sidebar-header">
            <a th:href="@{/}" class="header-logo">
                <i class="fa-solid fa-rocket"></i>
                <h5 class="ms-3 mb-0 text-logo">UniPlanilla +</h5>
            </a>
            <button class="toggler sidebar-toggler">
                <i class="fa-solid fa-chevron-left"></i>
            </button>
            <button class="toggler menu-toggler">
                <i class="fa-solid fa-bars"></i>
            </button>
        </header>

        <nav class="sidebar-nav">
            <!-- Primary top nav -->
            <ul class="nav-list primary-nav">
                <li class="nav-category">PRINCIPAL</li>

                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <div class="nav-icon-container w-auto d-flex justify-content-center align-items-center">
                            <i class="nav-icon fa-solid fa-house"></i>
                        </div>
                        <span class="nav-label">Inicio</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <div class="nav-icon-container d-flex justify-content-center align-items-center">
                            <i class="nav-icon fa-solid fa-file-alt"></i>
                        </div>
                        <span class="nav-label">Calcular Planilla</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/empleados/}" class="nav-link">
                        <div class="nav-icon-container d-flex justify-content-center align-items-center">
                            <i class="nav-icon fa-solid fa-users"></i>
                        </div>
                        <span class="nav-label">Empleados</span>
                    </a>
                </li>

                <li class="nav-category">ADMINISTRACIÓN</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <div class="nav-icon-container d-flex justify-content-center align-items-center">
                            <i class="nav-icon fa-solid fa-newspaper"></i>
                        </div>
                        <span class="nav-label">Reportes</span>
                    </a>
                </li>
            </ul>

            <!-- Secondary bottom nav -->
            <ul class="nav-list secondary-nav">
                <li class="nav-item ">
                    <a href="#" class="nav-link">
                        <div class="nav-icon-container d-flex justify-content-center align-items-center">
                            <i class="nav-icon fa-solid fa-user-tie"></i>
                        </div>
                        <span class="nav-label">Administrador</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>

    <footer th:fragment="scripts">
        <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>
        <script th:src="@{/javascript/sidebar.js}"></script>
    </footer>

</body>

</html>