.sidebar {
    width: 270px;
    height: 100vh;
    background: var(--blanco);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
}

.sidebar.collapsed {
    width: 85px;
}

.sidebar .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.sidebar-header .header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.sidebar-header .header-logo i {
    font-size: 1.2em;
    color: var(--blanco);
    background-color: var(--color-primario);
    border-radius: var(--radio-borde);
    padding: 9.5px;
}

.sidebar-nav .nav-link .nav-icon {
    font-size: 1.3em;
}

.sidebar-nav .nav-icon-container {
    min-width: 32px;
}

.sidebar-header .toggler {
    height: 35px;
    width: 35px;
    color: var(--negro);
    border: none;
    cursor: pointer;
    display: flex;
    background: var(--blanco);
    align-items: center;
    justify-content: center;
    border-radius: var(--radio-borde);
    transition: 0.4s ease;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.sidebar-header .sidebar-toggler {
    position: absolute;
    right: -20px;
    background-color: var(--color-primario-claro);
    color: var(--texto-secundario);
}

.sidebar-header .menu-toggler {
    display: none;
}

.sidebar.collapsed .sidebar-header .toggler {
    transform: translate(25px);
    transition: transform 0.3s ease;
}

.sidebar-header .toggler:hover {
    background: var(--color-primario);
}

.sidebar-header .toggler:hover i {
    font-size: 1em;
    color: var(--blanco);
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .toggler i {
    transform: rotate(180deg);
}

.sidebar-nav .nav-list {
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0;
    flex-direction: column;
    transform: translateY(15px);
    transition: width 0.4s ease-out, background-color 0.4s;
}

.sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 20px;
    color: var(--texto-secundario);
    text-decoration: none;
    transition: width 0.4s ease-out, background-color 0.4s, transform 0.2s;
    border-radius: var(--radio-borde);
    margin: 2px 10px;
    font-size: clamp(0.9rem, 1vw, 1.1rem);
    font-weight: 400;
    letter-spacing: 1px;
    min-height: 50.4px;
}

.sidebar-nav .nav-link.active {
    background-color: var(--color-primario);
    color: var(--blanco);
    box-shadow: 0px 1px 4px rgba(7, 0, 109, 0.514);
}

.sidebar .nav-category {
    padding: 12px 20px 5px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.05em;
    transition: opacity 0.2s ease;
    color: var(--texto-secundario);
}

.sidebar .sidebar-nav .nav-link .nav-label,
.text-logo {
    transition: display 0.2s ease;
    white-space: nowrap;
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-label,
.sidebar.collapsed .sidebar-header .text-logo{
    display: none;
}

.sidebar.collapsed .sidebar-nav .nav-category {
    opacity: 0;
}

.sidebar.collapsed .nav-link {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-nav .nav-link:hover {
    transform: translateX(5px);
}

.sidebar-nav .nav-link:not(.active):hover {
    background: var(--color-primario-claro);
    color: var(--color-primario);
}

.sidebar-nav .nav-item {
    position: relative;
}

.sidebar-nav .secondary-nav {
    position: absolute;
    bottom: 30px;
}

.sidebar.menu-active {
    max-height: 1000px;
    transition: height 0.3s ease;
    overflow: hidden;
}

.sidebar .sidebar-header .toggler i {
    transition: transform 0.4s ease;
}

@media (max-width: 992px) {
    .sidebar {
        height: 56px;
        width: calc(100% - 26px);
        max-height: calc(100vh - 26px);
        margin: 13px;
        overflow-y: hidden;
        scrollbar-width: none;
        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.05);
        position: sticky;
    }

    .sidebar .sidebar-header {
        position: sticky;
        top: 0;
        border-radius: var(--radio-borde);
        padding: 8px 15px;
        justify-content: space-between;
    }

    .sidebar-header .sidebar-toggler {
        display: none;
    }

    .sidebar-header .menu-toggler {
        display: flex;
        height: 30px;
        width: 30px;
    }

    .sidebar .sidebar-nav .nav-list {
        padding: 0 10px;
    }

    .sidebar-nav .nav-link {
        gap: 10px;
        padding: 10px;
    }

    .sidebar-nav .nav-link .nav-icon {
        font-size: 1.37rem;
    }

    .sidebar-nav .secondary-nav {
        position: relative;
        bottom: 0;
        margin: 40px 0 30px;
    }
}